/*BODY*/

* {
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

label {
  display:none;
}

/*IDEA INPUT FORM*/

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.25px;
  padding: 20px 0px;
}

h1 span {
  color: #6D6E71;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #BDBEC0;
}

input:focus,
textarea:focus {
  background   : #EEEEEE;
  outline      : none;
}

#user-input-form-section {
  background-color: #E5F3F2;
  height: 300px;
  text-align: center;
  width: 100%;
}

.rectangular-blue-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  height: 40px;
  padding: 0;
  vertical-align: center;
  width: 275px;
}

.single-line-input {
  border: 1px solid #A7A9AC;
  color: #6D6E71;
  height: 32px;
  margin-bottom: 17px;
  padding: 0;
  text-indent: 10px;
  width: 275px;
}

#description-input {
  border-width: 1px;
  border: 1px solid #A7A9AC;
  color: #939598;
  height: 92px;
  margin: 0px 0px 18px 0px;
  padding: 1px 3px;
  text-indent: 7px;
  vertical-align: top;
  width: 269px;
}

#user-input-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

/*CARD SECTION CONTAINER*/

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.40;
  overflow: hidden;
  width: 100%;
  word-wrap: break-word;
}

.card-headings {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}

.idea-card {
  border-bottom: 2px solid #D1D2D4;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 277px;
}

/*BUTTON STATES*/

.small-grey-button {
  height: 26px;
  padding: 0px 15px 0px 0px;
}

/*DOWN VOTE BUTTON*/

.downvote {
  background: url(../FEE-ideabox-icon-assets/downvote.svg);
  background-repeat: no-repeat;
  height: 26px;
}

#down-vote-button {
  border-style: none;
  border: none;
  height: 26px;
  margin: 0px 10px 0px 0px;
  width: 26px;
}

.downvote:hover {
  background: url(../FEE-ideabox-icon-assets/downvote-hover.svg);
  background-repeat: no-repeat;
  height: 26px;
}

/*UPVOTE BUTTON*/

.upvote {
  background: url(../FEE-ideabox-icon-assets/upvote.svg);
  background-repeat: no-repeat;
  height: 26px;
}

#up-vote-button {
  border-style: none;
  border: none;
  height: 26px;
  margin: 0px 10px 0px 0px;
  width: 26px;
}

.upvote:hover {
  background: url(../FEE-ideabox-icon-assets/upvote-hover.svg);
  background-repeat: no-repeat;
  height: 26px;
}

/*DELETE BUTTON*/

.delete {
  background: url(../FEE-ideabox-icon-assets/delete.svg);
  background-repeat: no-repeat;
  height: 26px;
}

#delete-button {
  border-style: none;
  border: none;
  height: 26px;
  margin: 0px 10px 0px 0px;
  width: 26px;
}

.delete:hover {
  background: url(../FEE-ideabox-icon-assets/delete-hover.svg);
  background-repeat: no-repeat;
  height: 26px;
}

/*IDEA CARD CONTAINER*/

#search-input {
  margin: 18px 0px 20px 0px;
}

#idea-box-section {
  align-items: center;
  background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
}

#idea-card-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 20px;
}

#idea-card-quality-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 22px;
  margin-top: 19px;
}

#quality-display-text {
  font-size: 16px;
  padding: 5px 0px 5px 0px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 520px) {

  h1 {
    font-size: 45px;
    padding: 40px 0px;
  }

  #description-input {
    height: 32px;
    width: 476px;
  }

  #search-input {
    margin: 25px 0px 20px 0px;
  }

  #save-button,
  .idea-card,
  .single-line-input {
    width: 480px;
  }

